.git
.github
.DS_Store
.venv
.astro
node_modules
data
library
test
rebuild-watcher
scripts
root
docker-compose.frontend.example.yml
docker-compose.yml
nginx-frontend.conf
*.png
.env
.env.*
!.env.example