@font-face {
    font-family: Open Sans Regular;
    font-weight: 400;
    font-style: normal;
    src: url(/static/fonts/open-sans-regular.woff2) format('woff2'),
         url(/static/fonts/open-sans-regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: Open Sans Semibold;
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/open-sans-semibold.woff2) format('woff2'),
         url(/static/fonts/open-sans-semibold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: Open Sans Bold;
    font-weight: 400;
    font-style: normal;
    src: url(/static/fonts/open-sans-bold.woff2) format('woff2'),
         url(/static/fonts/open-sans-bold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: plex-icons-new;
    src: url(/static/fonts/plex-icons-new.woff2) format('woff2'),
         url(/static/fonts/plex-icons-new.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: plex-icons;
    src: url(/static/fonts/plex-icons.woff2) format('woff2'),
         url(/static/fonts/plex-icons.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: Glyphicons Regular;
    src: url(/static/fonts/glyphicons-regular.woff2) format('woff2'),
         url(/static/fonts/glyphicons-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Glyphicons Social Regular;
    src: url(/static/fonts/glyphicons-social-regular.woff2) format('woff2'),
         url(/static/fonts/glyphicons-social-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}